body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #ffffff;
  margin-bottom: 20px;
}

.numero-sorteado {
  font-size: 4rem;
  font-weight: bold;
  color: #2a9d8f;
  margin: 20px 0;
}

button {
  background: #264653;
  color: white;
  border: none;
  padding: 15px 25px;
  margin: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  transition: 0.3s;
}

button:hover {
  background: #2a9d8f;
}

.numeros {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; 
  gap: 8px;
  max-width: 500px;
  align-items: center;
  justify-content: center;
}

.numeros article {
  width: 40px;       
  height: 40px;
  background: #e9ecef;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.numeros .sorteado {
  background: #2a9d8f;
  color: white;
}

.bingo{
  display: flex;
  flex-direction: row;
  width: 50rem;
  height: 21rem;
  background-color: rgba(38, 70, 83, 0.623);
  box-shadow: 6px 6px 8px rgb(39, 37, 37);
}

.coluna{
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 21rem;
  align-items: center;
}

